# -*- coding: utf-8 -*-
# 基础依赖
selenium==4.15.2
requests==2.31.0
pyinstaller==6.12.0
python-dateutil==2.8.2
tzlocal==5.2
pytz==2024.1

# Windows专用依赖
pywin32==306; sys_platform == 'win32'

# 构建工具
pip==23.3.2; python_version < '3.12'
setuptools==68.2.2
wheel==0.40.0
Pillow==10.2.0

# 其他依赖
pyinstaller-hooks-contrib==2023.6
websockets==12.0
schedule==1.2.0
python-crontab==3.0.0
apscheduler==3.10.4 